---
import { getCollection, getEntry, render } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'

const { slug } = Astro.params
if (!slug) throw new Error('Slug not found')
const post = await getEntry('posts', slug)

if (!post) throw new Error('No post found for this slug')
const { Content } = await render(post)

// Generate static pages
export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((post) => ({ params: { slug: post.id } }))
}
---

<Layout title={post.data.title}>
  <div class="container mx-auto max-w-screen-xl p-6">
    <article class="prose max-w-none">
      {post.data.featuredImage && (
        <Image src={post.data.featuredImage} alt={post?.data?.imageAlt || 'Featured Image'} width={1000} height={500} class="object-cover w-full" />
      )}
      <h1 class="text-5xl font-bold">{post.data.title}</h1>
      <Content />
    </article>
  </div>
</Layout>
