---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';

const { slug } = Astro.params;
if (!slug) throw new Error('Slug not found');
const post = await getEntry('posts', slug);

if (!post) throw new Error('No post found for this slug');
const { Content } = await post.render();

// Generate static pages
export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({ params: { slug: post.slug } }));
}
---

<Layout title={post.data.title}>
  <div class="container max-w-screen-xl mx-auto p-6">
    <article class="prose max-w-none">
      <Image src={post.data.featuredImage} alt={post.data.imgAlt} />
      <h1>{post.data.title}</h1>
    <Content />
    </article>
  </div>
</Layout>
